<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Detail Page</title>
    <link rel="stylesheet" href="/css/details.css" />
  </head>
  <body>
    <div class="container">
      <div class="nav">
        <div class="header">
          <span><%= project.name %></span>
        </div>

        <div class="wrapper">
          <a href="#issue-modal">Create Issue</a>
        </div>
      </div>

      <div id="issue-modal" class="modal">
        <div class="modal__content">
          <h1>Create an Issue:</h1>
          <form action="/create-issue" method="post">
            <input type="hidden" name="projectId" value="<%= projectId %>" />
            <div class="issue-form">
              <div class="issue-form-title">
                <label for="title">Title</label>
                <input type="text" name="title" id="issue-title" required />
              </div>
              <div class="issue-form-desc">
                <label for="description">Description</label>
                <textarea
                  type="text"
                  name="description"
                  id="issue-description"
                  required
                ></textarea>
              </div>
              <div class="issue-form-author">
                <label for="author">Author</label>
                <input type="text" name="author" id="issue-author" required />
              </div>
              <div class="issue-form-labels">
                <label for="labels">Labels:</label>
                <input type="text" id="issue-labels" />
                <input type="hidden" name="labels" id="labels" />
                <div class="dropdown">
                  <button
                    class="dropdown-button"
                    onclick="event.preventDefault();"
                  >
                    Select Labels
                  </button>
                  <div class="dropdown-content">
                    <% labels.map((items) => { %> <% items.labels.map((item) =>
                    { %> <% const labelArray = item.split(","); %> <%
                    labelArray.forEach((label) => { %> <% if (label !== "") { %>
                    <div class="dropdown-item">
                      <input
                        type="checkbox"
                        value="<%= label.trim() %>"
                        id="<%= label.trim() %>"
                      />
                      <label for="<%= label.trim() %>">
                        <%= label.trim() %>
                      </label>
                    </div>
                    <%}%> <% }); %> <% }); %> <% }); %>
                  </div>
                </div>
              </div>
              <button class="form-btn" type="submit" onclick="labelsArray()">
                Submit
              </button>
            </div>
          </form>

          <a href="#" class="modal__close">&times;</a>
        </div>
      </div>
    </div>
    <div class="issue-container">
      <% issues.map(item => { %>
      <div class="issue-container-title"><%= item.title %></div>
      <div class="issue-container-desc"><%= item.description %></div>
      <div class="issue-container-title"><%= item.author %></div>

      <% }) %>

      <div class="issue-container-filters"></div>
      <div class="issue-container-details"></div>
    </div>
    <script src="/js/details.js"></script>
  </body>
</html>
