<!DOCTYPE html>
<html>
  <head>
    <title>Node.js + EJS</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div class="overlay"></div>
    <!-- views/index.ejs -->
    <div class="header">
      <header>Dashboard</header>
    </div>
    <div class="container">
      <div class="create-project">
        <% if (!showForm) { %>
        <button id="create-project-btn" class="create-btn">
          Create Project
        </button>
        <% } else { %> <%- include('form'); -%> <% } %>
      </div>
      <div class="list-projects">
        <h2>List of Projects</h2>
        <ul>
          <% projects.forEach(function(project) { %>

          <div id="<%= project.id %>" class="project-details">
            <div class="clickable">
              <li class="project-details-name"><%= project.name %></li>
              <li class="project-details-desc"><%= project.description %></li>
              <li class="project-details-auth"><%= project.author %></li>
            </div>
          </div>
          <% }); %>
        </ul>
      </div>
    </div>

    <script src="/js/form.js"></script>
  </body>
</html>
