<!DOCTYPE html>
<html>
  <head>
    <title>Node.js + EJS</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <!-- views/index.ejs -->
    <div class="header">
      <img src="/images/fire.svg" alt="icon" />
      <header>Dashboard</header>
    </div>
    <div class="container">
      <div class="create-project">
        <% if (!showForm) { %>
        <button id="create-project-btn" class="create-btn">
          Create Project
        </button>
        <% } else { %> <%- include('form'); -%> <% } %>
      </div>
      <div class="list-projects">
        <h2>List of Projects</h2>
        <div class="scrollable-list">
          <ul>
            <% projects.forEach(function(project) { %>

            <div id="<%= project.id %>" class="project-details">
              <div class="clickable">
                <div class="img-and-name-container">
                  <li class="project-details-name"><%= project.name %></li>
                  <img src="/images/jira.svg" alt="icon" />
                </div>
                <li class="project-details-desc"><%= project.description %></li>
                <li class="project-details-auth"><%= project.author %></li>
              </div>
            </div>
            <% }); %>
          </ul>
        </div>
      </div>
    </div>

    <script src="/js/form.js"></script>
  </body>
</html>
